/**
 * @license Copyright (c) 2023, Web LireCouleur 6 - Luc & Marie-Pierre Brungard. All rights reserved.
 */

:root {
    --text: #200e07;
    --background: #fdf8f5;
    --primary: #d0653a;
    --secondary: #e2e084;
    --accent: #c7da63;

    --shadow: #999;
    /* ombrage */
    --highlight: #8cffbc;
    /* mise en évidence du mot lu */
    --danger: #dc3545;

    --menu: 40px;
    --pastille: 30px;
    --primary-icon-size: 30px;
    --secondary-icon-size: 20px;

    background-color: var(--background);
    color: var(--text);

    font-family: Arial, Helvetica, sans-serif;

    font-size: 16px;
}

body {
    margin: 0;
}

a {
    color: var(--text);
}

hr {
    border-color: var(--text);
}

img {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 90%;
    width: auto;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--background);
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.05rem;
}

h1,
h2,
h3,
h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #999;
}
