#texte-brut {
    textarea {
        font: inherit;
        width: 100%;
        margin-left: 0%;
        margin-right: auto;
        height: 80vh;
        overflow: auto;
        color: var(--text);
    }
}

.lc-editeur {
    border-radius: 3px;
    height: var(--pastille);
    padding: 0;
    text-align: center;
    display: block;
    border: 1px solid #f7f9fc;
}

.lc-editeur img {
    height: 80%;
}

.lc-editeur:hover {
    background-color: #fff;
    border: 1px solid #e4e7ee;
}
